@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.logo{
    width: 100px;
    margin-left: 30px;
    margin-top:30px;
    vertical-align: middle;
}
.nav{
    display: inline-block;
    vertical-align: middle;
    font-family: 'BPG Nino Mtavruli Bold';
}
.nav-li{display: inline-block;
        margin-top:30px;
        margin-left: 30px;
}
.mtavari{
    font-size: 22px;
    color: #EE4036;
    display: inline-block;
    text-decoration: none; 
    list-style: none;
    vertical-align: middle;
}
.siaxleebi{
    text-decoration: none;
    font-size: 22px;
    color:#3D58A6;
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    
}
.kontakti{
    text-decoration: none;
    font-size: 22px;
    color:#3D58A6;
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}
.computer{
    margin-left: 30px;
    margin-top: 30px;
}
.text{
    font-size: 24px;
    margin-left: 30px;
    margin-top: 120px;
    font-family: 'Roboto', sans-serif;
}
.section2{
    background-color: #F2F2F2;
    display: inline-block;
    margin-left: 30px;
    margin-top: 30px;
   vertical-align: middle;
}
.text2{
    font-size: 22px;
    color: #3D58A6;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    margin-top: 18px;
    margin-right: 275px;
    margin-left: 45px;
}
.hand{
    margin-left:25px;
    display: inline-block;
    vertical-align: middle;
}
.text3{
    margin-left: 25px;
    margin-right: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
}
.section3{
    background-color: #F2F2F2;
    display: inline-block;
    margin-left: 30px;
    margin-top: 30px;
    vertical-align: middle;
}
.text4{
    font-size: 22px;
    color: #3D58A6;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    margin-top: 18px;
    margin-right: 275px;
    margin-left: 45px;
}
.phone{
    margin-left:25px;
    display: inline-block;
    vertical-align: middle;

}
.text5{ 
    margin-left: 25px;
    margin-right: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
}